// 版权大框
.post-copyright {
    margin: 2em 0 0;
    padding: 0.5em 1em;
    border-left: 3px solid #FF1700;
    background-color: #F9F9F9;
    list-style: none;
    border: 1px solid black
    margin-left:10px
}
//超链接颜色
.post-copyright a {
    color:#258FC6
}
//首行缩进
.post-copyright-license p {
  text-indent:2em;
}