/**
 * @author Hakim El Hattab
 */


/*********************************************
 * GLOBAL STYLES
 *********************************************/

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	background: #eee;
	color: #eee;
	
	font-family: 'Molengo', Arial, Helvetica, sans-serif;
}


/*********************************************
 * EXPERIMENTS HEADER
 *********************************************/

a {
	color: rgb(220,200,150);
}

header {
	padding: 10px 0;
	z-index: 999;
	
	height: 20px;
	width: 100%;
	
	background: rgba(0,0,0,0.7);
}

header>div {
	float: right;
	margin-right: 10px;
}

header div.facebook-button {
	top: 1px;
}

header a {
	float: left;
	font-size: 14px;
	color: #eee;
	margin-left: 10px;
}

/*********************************************
 * CONTENTS
 *********************************************/

#fof {
	margin: 0 px;
	text-align: center;
}

#fof div {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	background: #000;
}

#fof canvas,
#fof img {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	z-index: 1;
	
	background: #000;
}


