$main-desktop                     = 65%  // 页面整个内容区的大小
$font-size-headings-base          = 30px // 标题起始字体大小
$font-size-headings-step          = 3px  // 每级标题字体大小步长
$content-desktop                  = calc(100% - 300px)
